# 불필요한 항목
*venv
*__pycache__
# 보안 문제상 제외 항목
.KEYS
.DATA
API_KEYS
data
logs
*.log
*.json
*.csv
*.pem
*.ppk

# directories that need to be ignored
programmers_data/
downloaded_files/
latest_logs/

# directories need to be ignored from linkedin crawler
crawl_code/linkedin/downloaded_files/
crawl_code/linkedin/latest_logs/
crawl_code/linkedin/logs/

# directories need to be ignored from jobkorea crawler
crawl_code/jobkorea/findAPI/

# submodules
fastapi/
streamlit/