#apache-airflow-providers-mysql==5.6.2
beautifulsoup4==4.12.3
certifi==2024.6.2
charset-normalizer==3.3.2
comm==0.2.2
DateTime==5.5
debugpy==1.8.2
decorator==5.1.1
exceptiongroup==1.2.1
executing==2.0.1
idna==3.7
ipykernel==6.29.5
logger==1.4
#mysql-client==0.0.1
pandas==2.2.2
pip-chill==1.0.3
pyarrow==16.1.0
#pymysql==1.1.1
pyspark==3.5.1
hdfs==2.7.3
PyHDFS==0.3.1
