{
    "keyword":{
        "geo_id":
        {
            "South Korea":105149562
        },
        "f_TPR":{
            "P24h":"r86400",
            "Pweek":"r604800",
            "Pmonth":"r2592000"
        },
        "f_E":{
                "Internship": 1,
                "Entry level": 2,
                "Associate": 3,
                "Mid-Senior level": 4,
                "Director": 5,
                "Executive":6
        },
        "f_WT":{
            "Remote":1,
            "On-site":2,
            "Hybrid":3
        },
        "sort_type":{
            "recent":"DD",
            "relevant":"R"
        },
        "f_F":{
            "IT":"it",
            "Sale":"sale",
            "Engineering":"eng",
            "Business Development":"bd",
            "Other":"othr",
            "Marketing":"mrkt",
            "Management":"mgmt",
            "Manufacturing":"mnfc",
            "Finance":"fin",
            "Research":"rsch",
            "Product Management": "prdm"
        },
        "f_I":{
            "IT servcie": 96,
            "SW":4,
            "Internet":6,
            "Finance":43,
            "Retail":27,
            "Recruit":104,
            "Pharamaceutical":15,
            "Motor Vehicle":53,
            "Semiconductor":7,
            "BioTech":12,
            "Manufacturing":25
        }
    }
}
